<!DOCTYPE html>
<html>
    <head>
        <title>MMU Lost Hub</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/css/beginning.css' %}">
    </head>

<body>
    <header>
        <img src="{% static 'images/MMU Logo.png' %}" alt="MMU Logo" class="mmu-logo">
    </header>

    <div class="banner">
        <div class="web-logo">
            <img src="{% static 'images/Web Logo.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
        </div>

        <div class="slogan">
            <p>What's lost can be found,<br>
            and found can find its way back.</p>
        </div>
    </div>
    
    <nav>
        <a href="#">User Login</a>
        <a href="#">Admin Login</a>
        <a href="#">Register</a>
    </nav>
</body>
</html>