<!DOCTYPE html>
<html>
    <head>
        <title>MMU Lost Hub</title>
        {% load user/static %}
        <link rel="stylesheet" type="text/css" href="{% static 'beginning.css' %}">
    </head>

<body>
    <header>
        <img src="{% user/static 'images/MMU Logo.png' %}" alt="MMU Logo" class="mmu-logo">
    </header>

    <div class="web-logo">
        <img src="{% user/static 'images/Web Logo.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
    </div>

    <nav>
        <a href="#">User Login</a>
        <a href="#">Admin Login</a>
        <a href="#">Register</a>
    </nav>
</body>
</html>