<h1>My Profile</h1>

<h2>Lost Items</h2>
{% for post in lost_posts %}
    <div>
        <p><b>Category:</b> {{ post.post_itemcategory }}</p>
        <p><b>Description:</b> {{ post.post_description }}</p>
        <p><b>Location:</b> {{ post.post_location }}</p>
        <p><b>Date:</b> {{ post.post_datetime }}</p>
    </div>
{% empty %}
    <p>No lost posts</p>
{% endfor %}

<h2>Found Items</h2>
{% for post in found_posts %}
    <div>
        <p><strong>Type:</strong> {{ post.Post_type }}</p>
        <p><strong>Category:</strong> {{ post.Post_itemcategory }}</p>
        <p><strong>Location:</strong> {{ post.Post_location }}</p>
        <p><strong>Description:</strong> {{ post.Post_description }}</p>
    </div>
{% empty %}
    <p>No found posts</p>
{% endfor %}