<!DOCTYPE html>
<html>
    <head>
        <title>MMU Lost Hub</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/css/register.css' %}">
    </head>

<body>
    <div class="whole-page">
        <header>
            <img src="{% static 'images/MMU Logo.png' %}" alt="MMU Logo" class="mmu-logo">
        </header>

        <div class="content">
            <div class="banner">
                <div class="web-logo">
                    <img src="{% static 'images/Web Logo.png' %}" alt="MMU Lost Hub Logo" class="losthub-logo">
                </div>

                <div class="slogan">
                    <p>
                        What's lost can be found,<br>
                    and found can find its way back.
                    </p>

                    <h2>Welcome to MMU Lost Hub</h2>
                    <h3>Register</h3>

                    <form method="POST">
                        {% csrf_token %}

                        <input type="text" name="name" placeholder="Name" value="{{ name }}">
                        <p style="color:red;">{{ name_error }}</p>

                        <input type="email" name="email" placeholder="MMU Email" value="{{ email }}">
                        <p style="color:red;">{{ email_error }}</p>
                        
                        <div class="password">
                            <input type="password" id="password"name="password" placeholder="Password" oninput="checkPassword()">
                            <span class="show-password" onclick="showPassword()" id="showEye"></span>
                            <p style="color:red;">{{ password_error }}</p>
                        </div>

                        <p id="strength-text"></p>

                        <!-- Checklist -->
                        <div class="checklist">
                            <p id="letter" class="invalid">At least 1 letter</p>
                            <p id="number" class="invalid">At least 1 number</p>
                            <p id="symbol" class="invalid">At least 1 symbol (@#$*.)</p>
                            <p id="length" class="invalid">At least 8 characters</p>
                        </div>

                        <!-- Confirm Password -->
                        <div class="password">
                            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" oninput="checkPassword()">
                            <span class="show-password" onclick="showPassword()" id="showEye"></span>
                            <p style="color:red;">{{ confirm_password_error }}</p>
                        </div>

                        <p id="match-text"></p>

                        <script>
                            function checkPassword() {
                                let password = document.getElementById("password").value;
                                let confirm = document.getElementById("confirm_password").value;

                                let letter = document.getElementById("letter");
                                let number = document.getElementById("number");
                                let symbol = document.getElementById("symbol");
                                let length = document.getElementById("length");
                                let matchText = document.getElementById("match-text");
                                let submitBtn = document.getElementById("submitBtn");
                                
                                let validCount = 0;

                                // letter
                                if (/[A-Za-z]/.test(password)) {
                                    letter.classList.add("valid");
                                    letter.classList.remove("invalid");
                                    letter.innerHTML = "At least 1 letter";
                                    validCount++;
                                } else {
                                    letter.classList.add("invalid");
                                    letter.classList.remove("valid");
                                    letter.innerHTML = "At least 1 letter";
                                }

                                //number
                                if (/[0-9]/.test(password)) {
                                    number.classList.add("valid");
                                    number.classList.remove("invalid");
                                    number.innerHTML = "At least 1 number";
                                    validCount++;
                                } else {
                                    number.classList.add("invalid");
                                    number.classList.remove("valid");
                                    number.innerHTML = "At least 1 number";
                                }

                                //symbol
                                if (/[@#$*.]/.test(password)) {
                                    symbol.classList.add("valid");
                                    symbol.classList.remove("invalid");
                                    symbol.innerHTML = "At least 1 symbol (@#$*.)";
                                    validCount++;
                                } else {
                                    symbol.classList.add("invalid");
                                    symbol.classList.remove("valid");
                                    symbol.innerHTML = "At least 1 symbol (@#$*.)";
                                }

                                //length
                                if (password.length >= 8) {
                                    length.classList.add("valid");
                                    length.classList.remove("invalid");
                                    length.innerHTML = "At least 8 characters";
                                    validCount++;
                                } else {
                                    length.classList.add("invalid");
                                    length.classList.remove("valid");
                                    length.innerHTML = "At least 8 characters";
                                }

                                //Confirm Password
                                let match = false;
                                if (confirm.length > 0) {
                                    if (password === confirm) {
                                        matchText.innerHTML = "Password match";
                                        matchText.style.color = "green";
                                        match = true;
                                    } else {
                                        matchText.innerHTML = "Password don't match";
                                        matchText.style.color = "red";
                                    }
                                } else {
                                    matchText.innerHTML = "";
                                }

                            //Enable Button only if All Valid
                            if (validCount === 4 && match) {
                                submitBtn.disabled = false;
                            } else {
                                submitBtn.disabled = true;
                            }
                        }

                        console.log("running");
                        </script>

                        <script>
                            function togglePassword() {
                                const pw = document.getElementById("password");
                                const cpw = document.getElementById("confirm_password");

                                pw.type = pw.type =="password" ? "text" : "password";
                                cpw.type = cpw.type =="password" ? "text" : "password";
                            }

                        console.log("running");
                        </script>

                        <script>
                            function showPassword() {
                                const pw = document.getElementById("password");
                                const cpw = document.getElementById("confirm_password");
                                const eye = document.getElementById("showEye");

                                if (pw.type === "password") {
                                    pw.type = "text";
                                    cpw.type = "text";
                                } else {
                                   pw.type = "password";
                                   cpw.type = "password";
                                }
                            }
                            
                            console.log("running");
                        </script>

                        {% if messages %}
                            {% for message in messages %}
                                <p style="color:green;">{{ message }}</p>
                            {% endfor %}
                        {% endif %}

                        <button type="submit" id="submitBtn" disabled>Register</button>
                    </form>

                    <p>Don't have an account?</p>
                    <a href="{% url 'register' %}">Register Here</a>
                </div>
            </div>
        </div>

        <footer>
            <p>© 2026 MMU Lost Hub<br>
            <br>Designed by:<br>Kho Yee Theng<br>Tan Yun Fee<br>Lim Tze Ying</p>
        </footer>
    </div>
</body>
</html>