.valid {
    color: green;
    font-weight: bold;
}

.invalid {
    color: red;
}

.checklist p {
    transition: 0.2s;
}

.checklist p.valid {
    color: green;
}

.checklist p.invalid {
    color: red;
}

.valid::before {
    content: "✔ ";
}

.invalid::before {
    content: "✖ ";
}

.password {
    position: relative;
    width: 100%;
}

.password input{
    width: 100%;
    padding-right: 40px;
}

.show-password{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}