.valid {
    color: green;
    font-weight: bold;
}

.invalid {
    color: red;
}

.checklist p {
    transition: 0.2s;
}

.checklist p.valid {
    color: green;
}

.checklist p.invalid {
    color: red;
}

.valid::before {
    content: "✔ ";
}

.invalid::before {
    content: "✖ ";
}

.show-password {
    cursor: pointer;
    user-select: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}