<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MMU Lost Hub - Admin Report Panal</title>
    </head>
    <body bgcolor="#f4f4f4">

        <header>
            <table width="100%" bgcolor="#ffffff" cellpadding="10" border="0">
                <tr>
                    <td width="5%"><button type="button">☰</button> </td>
                    <td align="center">
                        <font size="6"><b>MMU&reg; Lost Hub</b></font>
                    </td>
                    <td width="25%" align="right">
                        <form>
                            <input type="text" placeholder="Search reports...">
                            <input type="submit" value="🔍"
                        </form>
                    </td>
                </tr>
            </table>
        </header>
    </body>
</html>